
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

a {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

@font-face {
    font-family: 'FranchiseRegular';
    src: url('/fonts/franchise-bold-webfont.woff') format('woff'), url('/fonts/Franchise/franchise-bold-webfont.ttf') format('truetype'), url('/fonts/Franchise/franchise-bold-webfont.svg#webfontpJ3jCjex') format('svg');
    font-weight: normal;
    font-style: normal
}

body {
    background-color: #2f3c45;
    color: #f4f1de;
    font: 16px/1.2 "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", georgia, serif;
}

header a {
    text-decoration: none;
    color: #e6c92e;
    font-size: 20px;
    font-style: italic;
    -webkit-transition: color 0.2s ease-out;
}

header a:hover {
    color: #e6c92e;
}

header p {
    font-size: 24px;
}

a {
    color: #e6c92e;
    -webkit-transition: color .2s linear;
}

a:hover {
    color: #5da028;
}

.container {
    width: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 680px;
    margin-top: -16em;
    margin-left: -19em;
}

.desc {
    font-family: 'NanumGothicBold';
    display: block;
    clear: both;
    margin: 150px auto;
    text-align: center;
    color: #4F5C65;
}

#logo {
    margin: 100px 10px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'FranchiseRegular', 'HelveticaNeue-Bold', 'League Gothic', 'Impact', sans-serif;
    font-size: 150px;
    color: #c44032;
    text-shadow: #863027 -4px 4px 0;
    text-align: center;
}

#logo span {
    display: inline-block;
    position: relative;
    letter-spacing: -1px;
    -webkit-transition: all 0.2s ease-out;
}

#logo span:hover {
    top: 3px
}

#logo .char2, #logo .char11 {
    color: #e36b23;
    text-shadow: #9b4d1f -4px 4px 0
}

#logo .char3, #logo .char10 {
    z-index: 10;
    color: #e6c92e;
    text-shadow: #9c8b26 -4px 4px 0
}

#logo .char4, #logo .char9 {
    color: #5da028;
    text-shadow: #427021 -4px 4px 0
}

#logo .char5, #logo .char8 {
    color: #4584be;
    text-shadow: #2f597f -4px 4px 0
}

#logo .char6, #logo .char7 {
    color: #7073cf;
    text-shadow: #4a4d88 -4px 4px 0
}

#logo .char1 {
    -webkit-transform: rotate(-3deg)
}

#logo .char3 {
    top: -1px;
    -webkit-transform: rotate(2deg)
}

#logo .char4 {
    top: -7px
}

#logo .char6 {
    top: -7px;
    -webkit-transform: rotate(2deg)
}

#logo .char7 {
}

#logo .char8 {
    top: 1px;
    -webkit-transform: rotate(-2deg)
}

#logo .char9 {
    -webkit-transform: rotate(2deg)
}

#logo .char12 {
    top: -65px;
    width: 36px;
}

#logo .char10:hover {
    -webkit-transition-duration: 0.4s;
}

#logo .char11 {
    top: 2px;
    left: -30px;
    width: 50px;
    -webkit-transform: rotate(-3deg)
}

#logo .char12 {
    left: -24px
}

@media screen and (max-width:490px) {
    .container {
        max-width: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 280px;
        margin-top: -14em;
        margin-left: -10em;
    }

    .desc {
        clear: both;
        max-width: 190px;
        margin: 150px auto 0 auto;
        text-align: center;
        color: #4F5C65;
    }

    #logo {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -o-transform: scale(0.5);
        min-width: 630px;
        position: relative;
        left: -160px;
        top: -20px;
        height: 110px;
        margin-bottom: -24px !important;
    }
}

